@using ModelsLibrary
@model Tuple<List<ModelsLibrary.Store>, ModelsLibrary.Customer>



@{
    ViewData["Title"] = "CustomerLoggedIn";
}

<h1>Welcome @Html.DisplayFor(model => Model.Item2.FirstName)</h1>

<p>
    <strong>Car Year: </strong> @Html.DisplayFor(model => Model.Item2.CarYear)
    <strong>Car Make: </strong> @Html.DisplayFor(model => Model.Item2.CarMake)
    <strong>Car Model: </strong> @Html.DisplayFor(model => Model.Item2.CarModel)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Store Number
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Choose Store
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                    
                </td>
                <td>
                    @*@Html.ActionLink("Select", "Select", @item.StoreId)                 *@
                    <a asp-action="Select" asp-route-id="@item.StoreId">Select</a> |
                    <!--Details for store order history-->
                    <a asp-action="Details" asp-route-id="@item.StoreId">Details</a> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>
